/* Card */
.card {
    background: #FFFFFF;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.1), 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 0.2rem;
}
.card p {
    position: absolute;
    margin: 1.5rem 1.5rem auto;
    font-size: 2rem;
}
/* Card Image */
.card--image__border {
    width: 38rem;
    height: 100%
}
.card--image__drop {
    margin: 7rem auto;
    width: 29rem;
    height: 29rem;
}
/* Card Control */
.card--control__border {
    width: 38rem;
    height: 16rem;
}
/* Card Palette */
.card--palette_border {
    width: 38rem;
    height: 100%
}
