@import url(layout.css);
@import url(card.css);

p {
    font-family: Rubik;
    font-size: 12px;
    letter-spacing: 0.1em;
    user-select:none;
    color: #4B4B4B;
    line-height: 100%;
}
.division-line {
    position: absolute;
    margin: 12rem auto;
    left: 50%;
    width: 0rem;
    height: 38rem;
    border: 0.12rem solid #4B4B4B;
    border-radius: 0.12rem;
}
