<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rubik">
    </head>

    <body>
        <div class="wrapper">
            <div class="item item__title">
                <p>COLOR PALETTE</p>
                <div></div>
            </div>
            <div class="item item__image">
                <div class="card__image card">
                    <p>Image</p>
                </div>
            </div>
            <div class="item item__control">
                <p> Hello </p>
            </div>
            <div class="item item__palette">
                <p> Hello </p>
            </div>
        </div>
    </body>
</html>